body{
	background-color:black;
}


#navbar{

	color: black;
	margin-bottom:5px;
}

.navbar{

	min-height: 70px !important;
}

 .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }

	